#main {
	height: 100vh;
}

.url-form {
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.alert {
	display: block;
	padding: 5px 13px;
	font-size: 15px;
	width: 100%;
}